---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import NoiseBg from '@/components/NoiseBg.astro';

// Assets
import illustrationTop from '@/assets/comparison/illustration-top.svg';
import comparisonBg from '@/assets/comparison/background.png';
import roofMini from '@/assets/services/service-roof.png';
import bgEllipse from '@/assets/comparison/bg-ellipse.svg';
import sunflow from '@/assets/sunflow.avif';

interface ComparisonRow {
  label: string;
  icon: string;
  standard: string;
  premium: string;
}

interface Props {
  title?: string;
  standardColumn?: string;
  premiumColumn?: string;
  standardLabel?: string;
  premiumLabel?: string;
  data?: ComparisonRow[];
}

const {
  title = 'Stone-Coated Steel vs <br class="hidden lg:block" /> Asphalt Shingles',
  standardColumn = 'Asphalt Shingles',
  premiumColumn = 'Stone-Coated Steel',
  standardLabel = 'Asphalt',
  premiumLabel = 'Stone-Steel',
  data = [
    { label: 'Lifespan', icon: 'battery', standard: '20–30 years', premium: '50-100 years' },
    { label: 'Hail Rating', icon: 'hail', standard: 'Varies', premium: 'Class 4' },
    { label: 'Wind Warranty', icon: 'wind', standard: 'Typically lower', premium: '120 mph' },
    { label: 'Attic Heat (Tested)', icon: 'heat-meter', standard: '139°', premium: '94°' },
    { label: 'Maintenance', icon: 'setting', standard: 'Moderate', premium: 'Minimal' },
    { label: 'Weight', icon: 'wight-machine', standard: 'Heavier layered system', premium: '1.4 lbs/sq-ft' },
  ],
} = Astro.props;
---

<section class="relative container overflow-hidden py-16 lg:py-24">
  <Image
    src={illustrationTop}
    alt=""
    class="pointer-events-none absolute -top-[100px] left-1/2 z-0 w-full max-w-[800px] -translate-x-1/2 opacity-40 lg:-top-[150px]"
  />

  <div class="from-primary to-primary/0 relative rounded-[32px] bg-linear-to-b p-[2px] lg:rounded-[48px]">
    <NoiseBg
      class="relative overflow-hidden rounded-[32px] bg-[#171717] px-6 py-10 lg:rounded-[48px] lg:px-12 lg:py-16"
    >
      <div>
        <Image src={sunflow} alt="" class="pointer-events-none absolute inset-x-0 top-0 z-0 w-full opacity-20" />
        <Image src={comparisonBg} alt="" class="pointer-events-none absolute inset-x-0 top-0 z-0 w-full opacity-10" />
        <div class="absolute inset-0 top-0 left-0 h-full w-full bg-linear-to-b from-transparent from-70% to-black">
        </div>

        <!-- Heading & Icons -->
        <div class="relative z-10 mb-10 flex flex-col items-center gap-6 text-center lg:mb-16 lg:gap-8">
          <div class="flex flex-col items-center gap-3 lg:gap-4">
            <div class="flex items-center gap-x-3">
              <div
                class="relative size-4 rounded-[5px] bg-[#F7B715]/50 drop-shadow-2xl before:absolute before:top-1/2 before:left-1/2 before:size-1.5 before:-translate-1/2 before:rounded-full before:bg-[#F7D515] before:content-[''] lg:size-5 lg:before:size-2"
              >
              </div>
              <div class="text-xs font-medium tracking-wider text-white uppercase lg:text-sm">Comparison</div>
            </div>

            <div class="relative mt-2 flex items-center justify-center gap-4 lg:gap-16">
              <h2
                class="font-heading mx-auto max-w-[90%] text-3xl leading-tight text-white lg:max-w-none lg:text-6xl"
                set:html={title}
              />
              <Image src={roofMini} alt="" class="hidden h-[84] w-[200px] brightness-75 lg:block" />
              <!-- Floating Ellipse decoration -->
              <Image
                src={bgEllipse}
                alt=""
                class="pointer-events-none absolute -top-5 -right-10 w-32 opacity-40 lg:-top-10 lg:-right-20 lg:w-48"
              />
            </div>
          </div>
        </div>
 
        <!-- Table View (Desktop) -->
        <div class="relative z-10 hidden lg:block">
          <table class="w-full border-separate border-spacing-0">
            <thead>
              <tr>
                <th class="border-b border-[#594216] px-6 py-6 text-left text-xl font-medium text-white">Feature</th>
                <th class="border-b border-[#594216] px-6 py-6 text-left text-xl font-medium text-white"
                  >{standardColumn}</th
                >
                <th class="relative p-0 text-left">
                  <div
                    class="from-primary absolute inset-0 -top-4 z-0 rounded-t-3xl bg-radial-[at_40%_20%] via-[#594216] to-[#594216] px-px pt-px"
                  >
                    <div class="h-full w-full rounded-t-3xl bg-[#111]"></div>
                  </div>
                  <div
                    class="text-primary relative z-10 border-b border-[#59421650] px-6 py-6 text-left text-xl font-medium"
                  >
                    {premiumColumn}
                  </div>
                </th>
              </tr>
            </thead>
 
            <tbody class="text-neutral-lighter">
              {
                data.map((row, idx, arr) => (
                  <tr class="group">
                    <td class="border-b border-[#594216] px-6 py-7 group-last:border-b-0">
                      <div class="flex items-center gap-4">
                        <Icon name={row.icon} size={24} class="text-primary" />
                        <span class="text-base font-medium">{row.label}</span>
                      </div>
                    </td>
                    <td class="border-b border-[#594216] px-6 py-7 text-left text-white/70 group-last:border-b-0">
                      {row.standard}
                    </td>
                    <td class="relative p-0 text-left">
                      <div
                        class:list={[
                          'absolute inset-0 z-0 border-x border-[#594216] bg-[#111]',
                          idx === arr.length - 1 && 'rounded-b-3xl border-b',
                        ]}
                      />
                      <div
                        class:list={[
                          'text-primary relative z-10 flex items-center gap-2 border-b border-[#59421650] px-6 py-7 text-left text-lg font-semibold',
                          idx === arr.length - 1 && 'border-none',
                        ]}
                      >
                        <Icon name="double-tick" size={16} />
                        <span>{row.premium}</span>
                      </div>
                    </td>
                  </tr>
                ))
              }
            </tbody>
          </table>
        </div>
 
        <!-- Card View (Mobile/Tablet) -->
        <div class="relative z-10 grid grid-cols-1 gap-6 lg:hidden">
          {
            data.map(row => (
              <div class="space-y-4 rounded-2xl border border-[#594216]/30 bg-neutral-900/50 p-6">
                <div class="flex items-center gap-3 border-b border-[#594216]/30 pb-3">
                  <Icon name={row.icon} size={20} class="text-primary" />
                  <span class="text-lg font-bold tracking-wide text-white">{row.label}</span>
                </div>
 
                <div class="grid grid-cols-2 gap-4">
                  <div class="space-y-1">
                    <p class="text-neutral-light text-[10px] font-bold tracking-widest uppercase">{standardLabel}</p>
                    <p class="text-sm text-white/80">{row.standard}</p>
                  </div>
                  <div class="space-y-1 border-l border-[#594216]/30 pl-4">
                    <p class="text-primary text-[10px] font-bold tracking-widest uppercase">{premiumLabel}</p>
                    <div class="flex items-center gap-2">
                      <Icon name="double-tick" size={14} class="text-primary" />
                      <p class="text-primary text-sm font-bold">{row.premium}</p>
                    </div>
                  </div>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </NoiseBg>
  </div>
</section>
