---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';
import { Icon } from 'astro-icon/components';

import NoiseBg from '@/components/NoiseBg.astro';
import ProcessCard from './ProcessCard.astro';
import RatingStars from '@/components/ui/RatingStars.astro';
import bbaLogo from '@/assets/bbb-logo.avif';
import dogImage from '@/assets/dog-image.avif';
import bottomShape from '@/assets/bottom-shape.avif';
import shineImage from '@/assets/sunflow.avif';
import BadgeTitle from '../BadgeTitle.astro';
import Avatar from '../ui/Avatar.astro';

interface ProcessStep {
  image: ImageMetadata;
  imageAlt?: string;
  step: string;
  title: string;
  description: string;
}

interface QuoteInfo {
  profileImage?: string;
  profileAlt?: string;
  quote: string;
  author: string;
}

interface Props {
  badge?: string;
  heading?: string;
  headingClass?: string;
  subheading?: string;
  subheadingClass?: string;
  subheadingDescription?: string;
  quote?: QuoteInfo;
  steps?: ProcessStep[];
  class?: string;
}

const {
  badge = 'Our Process',
  heading = 'A Clear 4-step Plan <br />From Kick-off to Project',
  headingClass,
  subheading = 'And Here is How!',
  subheadingClass,
  subheadingDescription = "You shouldn't have to worry about not getting a call back, wondering when your project will start, or who to contact. Know what to expect with our clear, straightforward process!",
  quote = {
    profileImage: '/placeholders/profile.png',
    profileAlt: 'profile',
    quote: "We'll help you every step of the way.",
    author: 'Adam Knight, President',
  },
  steps = [],
  class: className,
} = Astro.props;
---

<NoiseBg class:list={['relative space-y-12 overflow-hidden px-0 py-10 lg:py-20', className]}>
  <!-- Top Section -->
  <div class="z-10 order-2 container flex flex-col gap-y-12 lg:order-1 lg:flex-row lg:items-center lg:justify-between">
    <BadgeTitle badge={badge} title={heading} class="w-full max-w-[500px]" />

    {
      quote && (
        <div class="ml-8 w-full max-w-[320px] flex-1 sm:ml-auto md:max-w-[400px]">
          <div class="before:via-primary border-gradient rounded-2xl p-px before:bg-linear-to-r before:from-[rgba(255,255,255,0.15)] before:to-[rgba(255,255,255,0.15)] lg:ml-10">
            <NoiseBg class="relative flex items-center rounded-2xl py-6 pr-6 pl-0 lg:py-7">
              <Avatar
                src={quote.profileImage || '/placeholders/profile.png'}
                alt={quote.profileAlt || 'profile'}
                class="z-10 -ml-8"
              />

              <div class="lg:pl-0">
                <div class="text-sm leading-relaxed italic md:text-base">&ldquo;{quote.quote}&rdquo;</div>
                <div class="text-tx-brand mt-1 text-xs font-bold md:text-sm">{quote.author}</div>
              </div>
            </NoiseBg>
          </div>
        </div>
      )
    }
  </div>

  <!-- Slider container -->
  <div class="z-10 order-1 container lg:order-2">
    <div class="rounded-[32px] lg:rounded-[52px]">
      <div
        class="border-gradient rounded-[32px] p-6 backdrop-blur-[2px] before:bg-linear-to-b before:from-white/34 before:to-white/5 sm:p-10 lg:rounded-[52px] lg:p-16"
      >
        <div class="flex flex-col-reverse gap-12 lg:flex-row lg:items-center lg:justify-between lg:gap-8">
          <!-- Content -->
          <div class="flex-1">
            <div class="mb-12 flex max-w-[436px] items-center lg:mb-[100px] lg:text-left">
              <div class="space-y-4">
                <h3 class:list={['text-2xl font-normal md:text-3xl lg:text-4xl', subheadingClass]}>{subheading}</h3>
                <div class="text-neutral-lighter text-sm leading-relaxed md:text-base">
                  {subheadingDescription}
                </div>
              </div>
            </div>

            <!-- Social Proof -->
            <div class="relative mx-auto w-fit rounded-2xl lg:mx-0">
              <Image
                src={dogImage}
                alt=""
                width={128}
                height={128}
                class="absolute top-0 right-0 z-20 -mt-[60px] h-[70px] w-[80px] lg:right-10 lg:-mt-[85px] lg:h-[92px] lg:w-[102px]"
              />

              <ul
                class="border-gradient relative flex flex-wrap items-center justify-center gap-3 rounded-2xl bg-black/20 p-2.5 py-4 before:bg-linear-to-l before:from-white/34 before:to-transparent sm:flex-row sm:p-4"
              >
                <li class="flex items-center gap-x-2 py-2 sm:p-2">
                  <Icon name="google-logo" class="size-4 text-[#F7B715] sm:size-6 lg:size-8" />
                  <div>
                    <div>
                      <RatingStars
                        rating={5}
                        fillColor="white"
                        strokeColor="transparent"
                        class="[&_svg]:size-2 sm:[&_svg]:size-2.5"
                      />
                    </div>
                    <div class="text-xs lg:text-sm">5.0 Rating</div>
                  </div>
                </li>

                <li class="hidden h-8 w-px bg-white/10 sm:block"></li>

                <li class="flex items-center gap-x-2 py-2 sm:p-2">
                  <Icon name="facebook-logo" class="size-4 text-[#F7B715] sm:size-6 lg:size-8" />
                  <div>
                    <div>
                      <RatingStars
                        rating={5}
                        fillColor="white"
                        strokeColor="transparent"
                        class="[&_svg]:size-2 sm:[&_svg]:size-2.5"
                      />
                    </div>
                    <div class="text-xs lg:text-sm">5.0 Rating</div>
                  </div>
                </li>

                <li class="hidden h-8 w-px bg-white/10 sm:block"></li>

                <li class="flex items-center gap-x-2 py-2 sm:p-2">
                  <div>
                    <Image
                      src={bbaLogo}
                      alt="Better Business Bureau Logo"
                      width={32}
                      height={32}
                      class="size-5 text-[#F7B715] sm:size-6 lg:size-8"
                    />
                  </div>
                  <div class="flex flex-col items-start">
                    <div>
                      <RatingStars
                        rating={5}
                        fillColor="white"
                        strokeColor="transparent"
                        class="[&_svg]:size-2 sm:[&_svg]:size-2.5"
                      />
                    </div>
                    <div class="text-xs lg:text-sm">5.0 Rating</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <!-- Process Cards Swiper -->
          <div class="flex w-full flex-col items-center gap-y-6 lg:w-auto">
            <process-cards-swiper class="swiper block w-full max-w-[320px] sm:max-w-[421px]">
              <div class="swiper-wrapper">
                {
                  steps.length > 0 ? (
                    steps.map(s => (
                      <div class="swiper-slide group/swiper-slide h-full rounded-3xl!">
                        <ProcessCard
                          image={s.image}
                          imageAlt={s.imageAlt}
                          step={s.step}
                          title={s.title}
                          description={s.description}
                        />
                      </div>
                    ))
                  ) : (
                    <slot />
                  )
                }
              </div>
            </process-cards-swiper>

            <!-- Navigation -->
            <div class="flex items-center gap-x-2">
              <button
                class="process-swiper-prev hover:bg-primary hover:text-inverted flex h-10 w-10 items-center justify-center rounded-full bg-[#1A1A1A] text-white transition-colors duration-200"
                aria-label="Previous step"
              >
                <Icon name="chevron-left" size={16} />
                <span class="sr-only">Previous</span>
              </button>
              <button
                class="process-swiper-next hover:bg-primary hover:text-inverted flex h-10 w-10 items-center justify-center rounded-full bg-[#1a1a1a] text-white transition-colors duration-200"
                aria-label="Next step"
              >
                <Icon name="chevron-right" size={16} />
                <span class="sr-only">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <Image
    src={bottomShape}
    alt=""
    width={1500}
    height={100}
    class="absolute bottom-0 z-10 w-full translate-y-12 opacity-50"
  />
  <Image
    src={shineImage}
    alt=""
    class="pointer-events-none absolute bottom-0 left-1/2 h-full w-full -translate-x-1/2 rotate-z-180 opacity-10"
  />
</NoiseBg>

<script>
  import Swiper from 'swiper';
  import { Navigation, EffectCards } from 'swiper/modules';

  import 'swiper/css';
  import 'swiper/css/effect-cards';

  class ProcessCardsSwiper extends HTMLElement {
    constructor() {
      super();

      const container = this.closest('.container');
      const nextEl = container?.querySelector('.process-swiper-next') as HTMLElement;
      const prevEl = container?.querySelector('.process-swiper-prev') as HTMLElement;

      new Swiper(this, {
        modules: [Navigation, EffectCards],
        effect: 'cards',
        grabCursor: true,
        navigation: {
          nextEl,
          prevEl,
        },
      });
    }
  }

  customElements.define('process-cards-swiper', ProcessCardsSwiper);
</script>
