---
import Button from '@/components/ui/Button.astro';
import ArticalCard from './ArticalCard.astro';
import Carousel from '../ui/Carousel.astro';
import CarouselSlide from '../ui/CarouselSlide.astro';
import sunFlow from '@/assets/sunflow.avif';
import { Image } from 'astro:assets';
import BadgeTitle from '../BadgeTitle.astro';

const articles = [
  {
    image: '/placeholders/works/1.jpg',
    title: 'Vinyl vs Fiber Cement Siding: 7 Key Differences Explained',
    description:
      'When comparing vinyl vs fiber cement siding, homeowners are often torn between affordability and long-term performance. Both materials have their strengths, vinyl ...',
    date: 'July 1, 2026',
    readTime: '15 Mins',
  },
  {
    image: '/placeholders/works/2.jpg',
    title: 'Vinyl vs Fiber Cement Siding: 7 Key Differences Explained',
    description:
      'When comparing vinyl vs fiber cement siding, homeowners are often torn between affordability and long-term performance. Both materials have their strengths, vinyl ...',
    date: 'July 1, 2026',
    readTime: '15 Mins',
  },
  {
    image: '/placeholders/works/3.jpg',
    title: 'Vinyl vs Fiber Cement Siding: 7 Key Differences Explained',
    description:
      'When comparing vinyl vs fiber cement siding, homeowners are often torn between affordability and long-term performance. Both materials have their strengths, vinyl ...',
    date: 'July 1, 2026',
    readTime: '15 Mins',
  },
];

const breakpoints = {
  320: { slidesPerView: 1.08, spaceBetween: 12 },
  500: { slidesPerView: 1.18, spaceBetween: 14 },
  768: { slidesPerView: 2, spaceBetween: 32 },
  1024: { slidesPerView: 3, spaceBetween: 32 },
};
---

<section class="bg-noise relative overflow-hidden border-t border-white/10 py-16 lg:py-24">
  <div class="relative z-10 container">
    <!-- Header -->
    <div
      class="mb-12 flex flex-col justify-between gap-8 border-b border-[#444444] pb-12 md:flex-row md:items-center md:border-b-0 md:pb-0"
    >
      <BadgeTitle badge="Recent Articles" title="Roofing Advice for Colorado Homeowners" />
      <Button href="/blogs" class="px:px-8 w-fit py-3.5 text-sm font-bold"> View all articles </Button>
    </div>

    <!-- Articles Carousel -->
    <Carousel
      slidesPerView="auto"
      spaceBetween={32}
      breakpoints={breakpoints}
      centeredSlides={false}
      loop={false}
      autoplay={false}
      class="z-10 w-full overflow-visible md:overflow-hidden"
    >
      {
        articles.map((article) => (
          <CarouselSlide>
            <ArticalCard {...article} />
          </CarouselSlide>
        ))
      }
    </Carousel>
  </div>

  <Image
    src={sunFlow}
    alt="Background Decoration"
    class="pointer-events-none absolute bottom-0 left-0 h-full w-full rotate-180 opacity-10"
  />
</section>
