---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import NoiseBg from '@/components/NoiseBg.astro';
import Button from '@/components/ui/Button.astro';
import RatingStars from '@/components/ui/RatingStars.astro';
import sunflow from '@/assets/sunflow.avif';

import quoteBg from '@/assets/business-rate-badge.png';

interface Props {
  services?: string[];
  class?: string;
}

const {
  services = [
    'Roof Replacement',
    'Roof Repair',
    'New Roof Installation',
    'Roof Inspection',
    'Storm Damage',
    'Gutter Installation',
    'Siding',
    'Other',
  ],
  class: className,
} = Astro.props;

const testimonials = [
  {
    name: 'Chris Owens',
    role: 'Frontline Adjusters',
    text: 'Sensory Creative redesigned my companies website, they are consummate pros and it came out fantastic. Being in the roofing industry it can be difficult to explain nuances to website designers. With Hook, they knew the language and the industry like the back of their hand. Maggie and Claudia have been essential to my companies success! Also running PPC with them.',
    rating: 5,
    avatar: '/placeholders/team/1.jpg',
  },
];
---

<NoiseBg
  class:list={['group/form relative overflow-hidden rounded-3xl border border-white/20 bg-[#181818] p-4', className]}
>
  <Image
    src={sunflow}
    alt="sunflow"
    class="pointer-events-none absolute inset-x-0 top-0 left-0 h-full w-full object-cover opacity-10 transition-transform duration-1000 group-hover/form:scale-110"
  />

  <div class="grid grid-cols-1 gap-6 lg:grid-cols-12">
    <!-- Left Side: Testimonial/Award Card -->
    <div class="lg:col-span-5">
      <div class="via-primary h-full rounded-2xl bg-linear-to-r from-white/15 to-white/15 p-px">
        <NoiseBg
          class="relative flex h-full flex-col items-center justify-center space-y-8 rounded-2xl bg-[#181818] p-8 text-center shadow-lg"
        >
          <!-- Background Overlay for Testimonial Card -->
          <div class="absolute inset-0 z-[-1] opacity-5">
            <Image src={quoteBg} alt="" class="h-full w-full rounded-2xl object-cover" />
          </div>

          <!-- Award Badge -->
          <div class="flex flex-col items-center space-y-2">
            <div class="relative h-24 w-32 shrink-0">
              <Image src={quoteBg} width={160} height={160} alt="Award Badge" class="h-full w-full object-contain" />
            </div>
          </div>

          <!-- Person Info -->
          <div class="flex items-center gap-x-4">
            <div class="from-primary rounded-full bg-radial-[at_30%_30%] via-[#594216]/30 to-[#594216]/30 p-px">
              <div
                class="border-primary flex size-16 items-center justify-center overflow-hidden rounded-full bg-[#111]"
              >
                <span class="text-xl font-medium text-white"> CO </span>
              </div>
            </div>
            <div class="text-left">
              <div class="text-2xl font-semibold text-white">{testimonials[0].name}</div>
              <p class="text-[13px] text-[#828282]">{testimonials[0].role}</p>
            </div>
          </div>

          <!-- Testimonial Text -->
          <p class="text-sm leading-relaxed text-[#ccc]">
            &ldquo;{testimonials[0].text}&rdquo;
          </p>

          <!-- Rating -->
          <div class="flex items-center gap-x-4">
            <div class="h-fit w-fit">
              <Image
                alt="G"
                width={24}
                height={24}
                loading="lazy"
                src="https://www.gstatic.com/marketing-cms/assets/images/d5/dc/cfe9ce8b4425b410b49b7f2dd3f3/g.webp=s48-fcrop64=1,00000000ffffffff-rw"
              />
            </div>

            <RatingStars rating={testimonials[0].rating} size={20} fillColor="#F7B715" strokeColor="transparent" />
          </div>

          <!-- Carousel Nav -->
          <div class="flex gap-x-2">
            <button
              aria-label="Previous button"
              class="from-primary rounded-full bg-radial-[at_30%_30%] via-[#594216]/30 to-[#594216]/30 p-px"
            >
              <div class="border-primary/40 flex size-9 items-center justify-center rounded-full border bg-[#0d0d0d]">
                <Icon name="chevron-left" class="size-5 text-white" />
              </div>
              <span class="sr-only">Previous</span>
            </button>

            <button
              aria-label="Next button"
              class="from-primary rounded-full bg-radial-[at_30%_30%] via-[#594216]/30 to-[#594216]/30 p-px"
            >
              <div class="border-primary/40 flex size-9 items-center justify-center rounded-full border bg-[#0d0d0d]">
                <Icon name="chevron-right" class="size-5 text-white" />
              </div>
              <span class="sr-only">Next</span>
            </button>
          </div>
        </NoiseBg>
      </div>
    </div>

    <!-- Right Side: Form -->
    <div class="lg:col-span-7">
      <div class="space-y-6 px-4 py-4 lg:px-8 lg:py-8">
        <div class="text-xl font-medium text-white">Fill out this form to get in touch:</div>

        <form class="space-y-4">
          <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
            <!-- First Name -->
            <div class="group space-y-2">
              <label
                class="flex items-center gap-x-1.5 text-sm font-medium text-[#828282] transition-colors duration-300 group-focus-within:text-white"
              >
                <sup>
                  <Icon
                    name="star-icon"
                    size={12}
                    class="text-primary transition-transform duration-300 group-focus-within:rotate-45"
                  />
                </sup>
                First Name
              </label>
              <div
                class="from-primary rounded-lg bg-radial-[at_35%_10%] via-[#594216] to-[#594216] p-px transition-all duration-500 ease-in-out focus-within:bg-radial-[at_70%_20%] focus-within:via-[#F7B715]"
              >
                <input
                  type="text"
                  placeholder="John Doe"
                  class="w-full rounded-lg bg-[#131313] px-4 py-3 text-sm text-white transition-all duration-300 placeholder:text-[#aaa] focus:outline-none"
                />
              </div>
            </div>

            <!-- Phone -->
            <div class="group space-y-2">
              <label
                class="flex items-center gap-x-1.5 text-sm font-medium text-[#828282] transition-colors duration-300 group-focus-within:text-white"
              >
                <sup>
                  <Icon
                    name="star-icon"
                    size={12}
                    class="text-primary transition-transform duration-300 group-focus-within:rotate-45"
                  />
                </sup>
                Phone
              </label>
              <div
                class="from-primary rounded-lg bg-radial-[at_35%_10%] via-[#594216] to-[#594216] p-px transition-all duration-500 ease-in-out focus-within:bg-radial-[at_70%_20%] focus-within:via-[#F7B715]"
              >
                <input
                  type="tel"
                  placeholder="(555) 000-0000"
                  class="w-full rounded-lg bg-[#131313] px-4 py-3 text-sm text-white transition-all duration-300 placeholder:text-[#aaa] focus:outline-none"
                />
              </div>
            </div>
          </div>

          <!-- Email -->
          <div class="group space-y-2">
            <label
              class="flex items-center gap-x-1.5 text-sm font-medium text-[#828282] transition-colors duration-300 group-focus-within:text-white"
            >
              <sup>
                <Icon
                  name="star-icon"
                  size={12}
                  class="text-primary transition-transform duration-300 group-focus-within:rotate-45"
                />
              </sup>
              Email
            </label>
            <div
              class="from-primary rounded-lg bg-radial-[at_35%_10%] via-[#594216] to-[#594216] p-px transition-all duration-500 ease-in-out focus-within:bg-radial-[at_70%_20%] focus-within:via-[#F7B715]"
            >
              <input
                type="email"
                placeholder="john@example.com"
                class="w-full rounded-lg bg-[#131313] px-4 py-3 text-sm text-white transition-all duration-300 placeholder:text-[#aaa] focus:outline-none"
              />
            </div>
          </div>

          <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
            <!-- Address -->
            <div class="group space-y-2">
              <label
                class="flex items-center gap-x-1.5 text-sm font-medium text-[#828282] transition-colors duration-300 group-focus-within:text-white"
              >
                <sup>
                  <Icon
                    name="star-icon"
                    size={12}
                    class="text-primary transition-transform duration-300 group-focus-within:rotate-45"
                  />
                </sup>
                Address
              </label>
              <div
                class="from-primary rounded-lg bg-radial-[at_35%_10%] via-[#594216] to-[#594216] p-px transition-all duration-500 ease-in-out focus-within:bg-radial-[at_70%_20%] focus-within:via-[#F7B715]"
              >
                <input
                  type="text"
                  placeholder="123 Street Ave"
                  class="w-full rounded-lg bg-[#131313] px-4 py-3 text-sm text-white transition-all duration-300 placeholder:text-[#aaa] focus:outline-none"
                />
              </div>
            </div>

            <!-- Zip -->
            <div class="group space-y-2">
              <label
                class="flex items-center gap-x-1.5 text-sm font-medium text-[#828282] transition-colors duration-300 group-focus-within:text-white"
              >
                <sup>
                  <Icon
                    name="star-icon"
                    size={12}
                    class="text-primary transition-transform duration-300 group-focus-within:rotate-45"
                  />
                </sup>
                Zip
              </label>
              <div
                class="from-primary rounded-lg bg-radial-[at_35%_10%] via-[#594216] to-[#594216] p-px transition-all duration-500 ease-in-out focus-within:bg-radial-[at_70%_20%] focus-within:via-[#F7B715]"
              >
                <input
                  type="text"
                  placeholder="91740"
                  class="w-full rounded-lg bg-[#131313] px-4 py-3 text-sm text-white transition-all duration-300 placeholder:text-[#aaa] focus:outline-none"
                />
              </div>
            </div>
          </div>

          <!-- Service Needed -->
          <div class="group space-y-2">
            <label
              class="flex items-center gap-x-1.5 text-sm font-medium text-[#828282] transition-colors duration-300 group-focus-within:text-white"
            >
              <sup>
                <Icon
                  name="star-icon"
                  size={12}
                  class="text-primary transition-transform duration-300 group-focus-within:rotate-45"
                />
              </sup>
              Service Needed
            </label>
            <div
              class="from-primary rounded-lg bg-radial-[at_35%_10%] via-[#594216] to-[#594216] p-px transition-all duration-500 ease-in-out focus-within:bg-radial-[at_70%_20%] focus-within:via-[#F7B715]"
            >
              <div class="relative w-full rounded-lg bg-[#131313]">
                <select
                  class="w-full appearance-none bg-transparent px-4 py-3 text-sm text-[#aaa] transition-all duration-300 focus:text-white focus:outline-none"
                >
                  <option value="" disabled selected>Roof Replacement</option>
                  {services.map(service => <option value={service}>{service}</option>)}
                </select>
                <Icon
                  name="chevron-down"
                  class="text-primary pointer-events-none absolute top-1/2 right-4 size-4 -translate-y-1/2"
                />
              </div>
            </div>
          </div>

          <!-- Message -->
          <div class="group space-y-2">
            <label
              class="flex items-center gap-x-1.5 text-sm font-medium text-[#828282] transition-colors duration-300 group-focus-within:text-white"
            >
              <sup>
                <Icon
                  name="star-icon"
                  size={12}
                  class="text-primary transition-transform duration-300 group-focus-within:rotate-45"
                />
              </sup>
              Message
            </label>
            <div
              class="from-primary h-fit rounded-lg bg-radial-[at_35%_10%] via-[#594216] to-[#594216] p-px transition-all duration-500 ease-in-out focus-within:bg-radial-[at_70%_20%] focus-within:via-[#F7B715]"
            >
              <textarea
                rows="3"
                placeholder="Your message here..."
                class="block w-full rounded-lg bg-[#131313] px-4 py-3 text-sm text-white transition-all duration-300 placeholder:text-[#aaa] focus:outline-none"
              ></textarea>
            </div>
          </div>

          <!-- Submit Button -->
          <div class="pt-4">
            <Button variant="primary" size="lg" class="w-full md:w-[222px]"> Request My Quote </Button>
          </div>
        </form>
      </div>
    </div>
  </div>
</NoiseBg>
