---
import Layout from '@/layouts/Layout.astro';
import Navbar from '@/components/Navbar.astro';
import Brands from '@/components/Brands.astro';
import CTASection from '@/components/cta/CTASection.astro';
import Footer from '@/components/Footer.astro';
import Testimonials from '@/components/Testimonials.astro';
import Faqs from '@/components/faqs/Faqs.astro';
import NoiseBg from '@/components/NoiseBg.astro';
import Button from '@/components/ui/Button.astro';
import { Icon } from 'astro-icon/components';
import {Image} from "astro:assets";
import Hero from '@/components/hero/Hero.astro';
import RatingStars from '@/components/ui/RatingStars.astro';
import QuoteForm from '@/components/cta/QuoteForm.astro';
import RecentArticales from '@/components/articales/RecentArticales.astro';
import ServiceAreas from '@/components/service-area/ServiceAreas.astro';
import sunFlow from "@/assets/sunflow.avif";
import BeforeAfter from '@/components/comparison/BeforeAfter.astro';
import Pagination from '@/components/ui/pagination/Pagination.astro';

const beforeAfterProjects = [
  {
    before: '/placeholders/projects/project-1.jpg',
    after: '/placeholders/projects/project-2.jpg',
    aspect: 'aspect-square',
  },
  {
    before: '/placeholders/projects/project-3.jpg',
    after: '/placeholders/projects/project-4.jpg',
    aspect: 'aspect-video',
  },
  {
    before: '/placeholders/projects/project-1.jpg',
    after: '/placeholders/projects/project-2.jpg',
    aspect: 'aspect-[3/4]',
  },
  {
    before: '/placeholders/projects/project-1.jpg',
    after: '/placeholders/projects/project-2.jpg',
    aspect: 'aspect-video',
  },
  {
    before: '/placeholders/projects/project-3.jpg',
    after: '/placeholders/projects/project-4.jpg',
    aspect: 'aspect-[9/16]',
  },
  {
    before: '/placeholders/projects/project-1.jpg',
    after: '/placeholders/projects/project-2.jpg',
    aspect: 'aspect-video',
  },
  {
    before: '/placeholders/projects/project-3.jpg',
    after: '/placeholders/projects/project-4.jpg',
    aspect: 'aspect-square',
  },
  {
    before: '/placeholders/projects/project-1.jpg',
    after: '/placeholders/projects/project-2.jpg',
    aspect: 'aspect-video',
  },
  {
    before: '/placeholders/projects/project-3.jpg',
    after: '/placeholders/projects/project-4.jpg',
    aspect: 'aspect-[4/3]',
  },
];

const url = new URL(Astro.request.url);
const currentPage = Number(url.searchParams.get('page')) || 1;
const totalPages = 96; // Matching the image's '96' at the end
---

<Layout>
  <Navbar />

  <Hero
    title="Before & After Gallery"
    subtitle="Colorado's #1 Veteran-Owned Roofing Company"
  >
    <p>Use your cursor to move the image sliders left and right to see the difference we made for these Wisconsin and Illinois homes. We work with quality in mind so your roof, windows, doors, & siding stay durable and under warranty for years to come.</p>

    <div class="flex items-center gap-x-4">
      <Button variant="primary" size="lg">
        <span class="text-xs">
          $99/month roofs <br />
          No repayment penalty</span
        >
        <span class="h-6 w-0.5 bg-[rgba(133,89,1,0.4)]"></span>
        <span> <strong> FREE </strong> Estimate</span>
      </Button>

      <Button variant="link">
        <Icon name="map" />
        See Our Past Work
      </Button>
    </div>

    <Fragment slot="social-proof">
      <div class="flex items-center gap-x-4 pr-4">
        <Icon name="google-logo" size={32} />
        <div>
          40+ Five-Star <br />
          Google Reviews
        </div>
      </div>

      <div class="flex items-center gap-x-4 px-4">
        <Icon name="facebook-logo" size={32} />
        <div>
          <RatingStars rating={5} size={10} fillColor="white" strokeColor="none" />
          <span class="text-sm font-bold"> 5.0 Rating </span>
        </div>
      </div>

      <div class="flex items-center gap-x-4 pl-4">
        <Icon name="google-logo" size={32} />
        <div>
          <RatingStars rating={5} size={10} fillColor="white" strokeColor="none" />
          <span class="text-sm font-bold"> 5.0 Rating </span>
        </div>
      </div>
    </Fragment>

    <QuoteForm slot="sidebar" />
  </Hero>

  <div class="relative">
    <div class="absolute inset-x-0 top-0 h-px bg-linear-to-r from-transparent via-[#F2C744]/50 to-transparent"></div>
    <Brands />
  </div>

   <!-- Filters -->
  <div class="relative px-0 py-0">
    <Image
      src={sunFlow}
      alt="sun-flow"
      width={1920}
      height={1080}
      class="absolute inset-0 h-full w-full object-cover opacity-20"
    />
    <div class="container py-20">
      <div class="z-10 flex flex-col items-center space-y-6">
        <div class="flex flex-col items-center gap-4">
          <div>Filter GALLERY By:</div>
        </div>

        <div class="flex items-center gap-2">
          <div class="h-[135px] w-[116px] rounded-xl bg-white/15"></div>
          <div class="h-[135px] w-[116px] rounded-xl bg-white/15"></div>
          <div class="h-[135px] w-[116px] rounded-xl bg-white/15"></div>
          <div class="h-[135px] w-[116px] rounded-xl bg-white/15"></div>
          <div class="h-[90px] w-px bg-white/15"></div>
          <div class="h-[135px] w-[116px] rounded-xl bg-white/15"></div>
          <div class="h-[135px] w-[116px] rounded-xl bg-white/15"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Before and After Gallery -->
  <NoiseBg>
    <div class="container py-20">
      <div class="columns-1 md:columns-2 lg:columns-3 gap-6 space-y-6">
        {
          beforeAfterProjects.map((project) => (
            <div class="break-inside-avoid mb-6">
              <BeforeAfter
                beforeImage={project.before}
                afterImage={project.after}
                class={project.aspect}
              />
            </div>
          ))
        }
      </div>

      <!-- Pagination -->
      <div class="mt-16 flex justify-center">
        <Pagination
          currentPage={currentPage}
          totalPages={totalPages}
          baseUrl="/before-and-after"
        />
      </div>
    </div>
  </NoiseBg>

  <!-- Statistics -->
  <div class="container grid grid-cols-4 gap-x-2 py-16">
    <!-- Total Projects Completed -->
    <div class="from-primary rounded-[5px] bg-radial-[at_30%_30%] via-[#594216] to-[#594216] p-px">
      <NoiseBg class="flex h-full items-center justify-center gap-x-2 rounded-[5px] px-6 py-4">
        <div class="font-heading text-primary text-[2rem]">129+</div>
        <div>
          <div class="text-lg font-bold">Roofing Projects</div>
          <div class="text-[#AAAAAA]">in Colorado</div>
        </div>
      </NoiseBg>
    </div>

    <!-- Google Retings -->
    <div class="from-primary rounded-[5px] bg-radial-[at_30%_30%] via-[#594216] to-[#594216] p-px">
      <NoiseBg class="flex h-full items-center justify-center gap-x-2 rounded-[5px] px-6 py-4">
        <div class="text-primary text-[2rem] font-bold">5.0</div>
        <div class="space-y-1">
          <div class="text-lg font-bold">
            <RatingStars rating={5} size={16} fillColor="#F7B715" strokeColor="none" />
          </div>
          <div class="text-[#AAAAAA]">40+ Google Reviews</div>
        </div>
      </NoiseBg>
    </div>

    <!-- Workmanship Warranty -->
    <div class="from-primary rounded-[5px] bg-radial-[at_30%_30%] via-[#594216] to-[#594216] p-px">
      <NoiseBg class="flex h-full items-center justify-center gap-x-2 rounded-[5px] px-6 py-4">
        <div class="text-primary size-12 font-bold">
          <Icon name="shield-check" size={48} />
        </div>
        <div>
          <div class="font-heading text-[2rem] leading-11 font-normal">Licensed</div>
          <div class="text-[#AAAAAA]">Bonded & Insured</div>
        </div>
      </NoiseBg>
    </div>

    <div class="from-primary rounded-[5px] bg-radial-[at_30%_30%] via-[#594216] to-[#594216] p-px">
      <NoiseBg class="flex h-full items-center justify-center gap-x-2 rounded-[5px] px-6 py-4">
        <div class="text-primary size-12 font-bold">
          <Icon name="badge" size={48} />
        </div>
        <div>
          <div class="font-heading text-[2rem] leading-11 font-normal">Lifetime</div>
          <div class="text-[#AAAAAA]">Workmanship Warranty</div>
        </div>
      </NoiseBg>
    </div>
  </div>

  <Testimonials />
  <ServiceAreas />
  <Faqs />
  <RecentArticales />
  <div class="relative">
    <div class="absolute inset-x-0 top-0 h-px bg-linear-to-r from-transparent via-[#F2C744]/50 to-transparent"></div>
    <Brands />
  </div>
  <CTASection />
  <Footer />
</Layout>
