---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '@/components/hero/Hero.astro';
import Brands from '@/components/Brands.astro';
import CTASection from '@/components/cta/CTASection.astro';
import Footer from '@/components/Footer.astro';
import QuoteForm from '@/components/cta/QuoteForm.astro';
import Testimonials from '@/components/Testimonials.astro';
import ServiceAreas from '@/components/service-area/ServiceAreas.astro';
import NoiseBg from '@/components/NoiseBg.astro';
import { Icon } from 'astro-icon/components';
import Button from '@/components/ui/Button.astro';
import RatingStars from '@/components/ui/RatingStars.astro';
import sunFlow from '@/assets/sunflow.avif';
import { Image } from 'astro:assets';
import WorkCard from '@/components/recent-projects/WorkCard.astro';
import Pagination from '@/components/ui/pagination/Pagination.astro';
import Statistics from '@/components/ui/Statistics.astro';
import SocialProof from '@/components/ui/SocialProof.astro';

const works = [
  {
    image: '/placeholders/works/1.jpg',
    title: 'EDCO METAL SIDING',
    subtitle: 'CHARCOAL GRAY',
    category: 'Roofing',
  },
  {
    image: '/placeholders/works/2.jpg',
    title: 'Stone Coated Steel',
    subtitle: 'Weathered Wood',
    category: 'Roofing',
  },
  {
    image: '/placeholders/works/3.jpg',
    title: 'Concrete Tile',
    subtitle: 'Barcelona Sand',
    category: 'Roofing',
  },
  {
    image: '/placeholders/works/4.jpg',
    title: 'Asphalt Shingle',
    subtitle: 'Estate Gray',
    category: 'Roofing',
  },
  {
    image: '/placeholders/works/1.jpg',
    title: 'EDCO METAL SIDING',
    subtitle: 'CHARCOAL GRAY',
    category: 'Roofing',
  },
  {
    image: '/placeholders/works/2.jpg',
    title: 'Stone Coated Steel',
    subtitle: 'Weathered Wood',
    category: 'Roofing',
  },
  {
    image: '/placeholders/works/3.jpg',
    title: 'Concrete Tile',
    subtitle: 'Barcelona Sand',
    category: 'Roofing',
  },
  {
    image: '/placeholders/works/4.jpg',
    title: 'Asphalt Shingle',
    subtitle: 'Estate Gray',
    category: 'Roofing',
  },
];

const currentPage = Number(Astro.url.searchParams.get('page') || 1);
const itemsPerPage = 4;
const totalPages = Math.ceil(works.length / itemsPerPage);
const displayedWorks = works.slice((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage);
---

<Layout title="Denver Roofing Portfolio | Black Knight Roofing">
  <Navbar />

  <!-- Hero section -->

  <Hero title="See Past Work In Your <br/> Neighborhood" subtitle="Colorado's #1 Veteran-Owned Roofing Company">
    <p>
      Lorem ipsum dolor sit amet consectetur. Dictum morbi ac nibh nibh leo vitae at id faucibus. Ultrices duis tempor
      eget proin euismod sed dolor eu suspendisse. Amet ridiculus erat sit vulputate. Dui est feugiat risus ultrices.
    </p>

    <div class="flex flex-col items-center gap-4 sm:flex-row sm:gap-x-6">
      <Button variant="primary" size="lg" class="w-full sm:w-auto">
        <span class="text-xs">
          $99/month roofs <br />
          No repayment penalty</span
        >
        <span class="h-6 w-0.5 bg-[rgba(133,89,1,0.4)]"></span>
        <span class="font-[var(--Font-Family-Text,Manrope)] text-center text-[14px] leading-[20px] font-bold text-[#111]">FREE Estimate</span>
      </Button>

      <Button variant="link" class="lg:text-lg">
        <Icon name="map" />
        See Our Past Work
      </Button>
    </div>

    <Fragment slot="social-proof">
      <SocialProof />
    </Fragment>

    <QuoteForm slot="sidebar" />
  </Hero>

  <div class="relative">
    <div class="absolute inset-x-0 top-0 h-px bg-linear-to-r from-transparent via-[#F2C744]/50 to-transparent"></div>
    <Brands />
  </div>

  <!-- Filters -->
  <div class="relative px-0 py-0">
    <Image
      src={sunFlow}
      alt="sun-flow"
      width={1920}
      height={1080}
      fetchpriority="high"
      loading="eager"
      format="avif"
      sizes="(max-width: 768px) 100vw, (max-width: 1200px) 50vw, 25vw"
      class="absolute inset-0 h-full w-full object-cover opacity-20"
    />
    <div class="container py-20">
      <div class="z-10 flex flex-col items-center space-y-6">
        <div class="flex flex-col items-center gap-4">
          <div>Filter GALLERY By:</div>
        </div>

        <div class="flex flex-wrap items-center justify-center gap-2 rounded-2xl border border-white/24 p-1">
          <div class="border-gradient h-[135px] w-[116px] shrink-0 rounded-xl bg-white/15"></div>
          <div class="border-gradient h-[135px] w-[116px] shrink-0 rounded-xl bg-white/15"></div>
          <div class="border-gradient h-[135px] w-[116px] shrink-0 rounded-xl bg-white/15"></div>
          <div class="border-gradient h-[135px] w-[116px] shrink-0 rounded-xl bg-white/15"></div>
          <div class="hidden h-[90px] w-px bg-white/15 md:block"></div>
          <div class="border-radial h-[135px] w-[116px] shrink-0 rounded-xl bg-white/15"></div>
          <div class="border-radial h-[135px] w-[116px] shrink-0 rounded-xl bg-white/15"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Gallery -->
  <NoiseBg class="px-0">
    <div class="container py-20">
      <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-4">
        {
          displayedWorks.map(work => (
            <WorkCard image={work.image} title={work.title} subtitle={work.subtitle} category={work.category} />
          ))
        }
      </div>

      <!-- Pagination -->
      <div class="mt-12 flex justify-center">
        <Pagination currentPage={currentPage} totalPages={totalPages} baseUrl="/gallery" />
      </div>
    </div>
  </NoiseBg>

  <Statistics />

  <Testimonials />
  <ServiceAreas />

  <div class="relative">
    <div class="absolute inset-x-0 top-0 h-px bg-linear-to-r from-transparent via-[#F2C744]/50 to-transparent"></div>
    <Brands />
  </div>
  <CTASection />
  <Footer />
</Layout>
