---
import { getImage, Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import Button from '@/components/ui/Button.astro';
import WeatherWidget from './WeatherWidget.astro';
import heroBgImage from '@/assets/hero-bg.webp';
import trustBadgeSSL from '@/assets/trust-badge-ssl.png';
import heroPerson from '@/assets/hero-person.avif';
import noiseBg from '@/assets/noises.avif';
import heroLeftShape from '@/assets/hero-left-shape.avif';
import FreeQuoteForm from './FreeQuoteForm.astro';
import SocialProof from '@/components/ui/SocialProof.astro';

const optimizedHeroBg = await getImage({ src: heroBgImage, width: 1536, height: 1152, format: 'webp' });
const noiseBgOp = await getImage({ src: noiseBg, format: 'avif' });
---

<section class="relative h-fit overflow-hidden lg:max-h-[800px]">
  <!-- Background Image -->
  <Image
    alt="background Image"
    src={optimizedHeroBg.src}
    width={1536}
    height={1152}
    class="absolute -z-10 h-full w-full object-cover"
    fetchpriority="high"
    loading="eager"
  />

  <!-- Hero Left Shape -->
  <Image
    src={heroLeftShape}
    alt="Hero Left Shape"
    width={heroLeftShape.width || 1209}
    height={heroLeftShape.height || 837}
    class="absolute top-0 -left-20 -z-10 -mt-0.5 hidden h-full w-[1309px] lg:block"
    fetchpriority="high"
    sizes="(max-width: 1024px) 100vw, 50vw"
    loading="eager"
  />

  <!-- Mobile Overlay -->
  <div
    class="absolute inset-0 top-0 left-0 -z-10 block h-full w-full bg-[linear-gradient(200deg,rgba(8,42,64,0)_34.45%,#082A40_64.34%,#0D0D0D_97.01%),linear-gradient(to_bottom,#0d0d0d_5%,rgba(0,0,0,0))] lg:hidden"
  >
  </div>

  <!-- Weather widget -->
  <div class="hidden lg:block">
    <WeatherWidget />
  </div>

  <!-- Main Hero Content -->
  <div class="">
    <div class="container space-y-6 py-12 lg:py-20">
      <div class="flex flex-col items-stretch gap-y-10 lg:flex-row lg:gap-x-8">
        <div class="relative h-full w-full max-w-[720px] text-white">
          <div class="space-y-8">
            <div class="space-y-8 lg:space-y-6">
              <!-- Hero section title -->
              <div class="space-y-4 text-center lg:text-left">
                <div class="inline-flex items-center justify-center gap-x-1.5 text-[12px] font-semibold lg:flex lg:justify-start lg:text-[16px]">
                  <Icon name="badge-tick" />
                  <span>Veteran-Owned. Licensed General Contractor. Denver, CO.</span>
                </div>

                <div>
                  <h1 class="font-heading text-4xl leading-tight font-normal md:text-5xl lg:text-6xl lg:leading-16">
                    Colorado&apos;s "Most Trusted" Full-Construction Roofing Company
                  </h1>
                </div>
              </div>

              <!-- Hero section list -->
              <ul class="space-y-4 text-[14px] sm:text-[15px] lg:space-y-3">
                <li class="flex items-start gap-x-4 lg:items-center">
                  <Icon name="shield" size={24} class="shrink-0" />
                  <span class="text-normal flex-1">
                    <strong class="font-semibold text-white">Proud Veteran Owned:</strong>
                    Most roofers just replace shingles. As a licensed general contractor and Army veteran, Adam inspects your
                    whole home — and builds to last.
                  </span>
                </li>

                <li class="flex items-start gap-x-4 lg:items-center">
                  <Icon name="helmet" size={24} class="shrink-0" />
                  <span class="text-normal flex-1">
                    <strong class="font-semibold text-white">Stone-Coated Steel Experts:</strong> We specialize in the materials
                    most roofers won't touch — stone-coated steel and concrete tile — because we know they're the best thing
                    on your roof.
                  </span>
                </li>

                <li class="flex items-start gap-x-4 lg:items-center">
                  <Icon name="star-leaf" size={24} class="shrink-0" />
                  <span class="text-normal flex-1">
                    <strong class="font-semibold text-white">Insurance Claim Specialists + Lifetime Guarantee:</strong>
                    We handle insurance claim and provide lifetime workmanship warranty plus manufacturer guarantees.
                  </span>
                </li>
              </ul>

              <!-- CTA Section -->
              <div class="flex flex-col items-center gap-y-4 md:flex-row md:gap-x-4 lg:gap-x-6">
                <Button variant="primary" size="lg" href="/contact-us" class="w-fit">
                  <span class="font-[var(--Font-Family-Text,Manrope)] text-center text-[10px] leading-[12px] font-bold text-[#855901]">
                    $99/month roofs <br />
                    No repayment penalty
                  </span>
                  <span class="h-6 w-0.5 bg-[rgba(133,89,1,0.4)]"></span>
                  <span class="font-[var(--Font-Family-Text,Manrope)] text-center text-[14px] leading-[20px] font-bold text-[#111]">
                    FREE Estimate
                  </span>
                </Button>

                <Button
                  variant="link"
                  href="/gallery"
                  class="font-[var(--Font-Family-Text,Manrope)] px-0 pb-0 text-[16px] leading-[24px] font-normal text-white">
                  <Icon name="map" />
                  <span class="border-b border-white">See Our Past Work</span>
                </Button>
              </div>
            </div>

            <SocialProof />
          </div>
        </div>

        <!-- Profile  -->
        <div class="relative hidden min-h-full items-end lg:flex lg:flex-1">
          <Image
            src={heroPerson}
            alt="Hero Person"
            width={443}
            height={631}
            class="h-full object-cover"
            fetchpriority="high"
            loading="eager"
            sizes="(max-width: 1024px) 100vw, 50vw"
            format="avif"
          />

          <div class="absolute top-2/3 -left-20 flex h-[92px] w-[315px] items-center gap-x-2">
            <svg width="300" height="96" viewBox="0 0 300 96" fill="none" class="h-[96px] w-[300px]">
              <g>
                <path
                  d="M278.126 0.974854C292.04 0.974854 301.793 14.7072 297.21 27.845L278.755 80.7454C275.923 88.862 268.267 94.3 259.671 94.3H21.2148C6.22081 94.3 -3.55368 78.5471 3.10449 65.1125L29.3232 12.2112C32.7343 5.32911 39.7516 0.974949 47.4326 0.974854H278.126Z"
                  fill="#0D0D0D"></path>
                <path
                  d="M278.126 0.974854C292.04 0.974854 301.793 14.7072 297.21 27.845L278.755 80.7454C275.923 88.862 268.267 94.3 259.671 94.3H21.2148C6.22081 94.3 -3.55368 78.5471 3.10449 65.1125L29.3232 12.2112C32.7343 5.32911 39.7516 0.974949 47.4326 0.974854H278.126Z"
                  fill="url(#pattern0_16409_61398)"
                  fill-opacity="0.32"></path>
                <path
                  d="M278.126 0.974854C292.04 0.974854 301.793 14.7072 297.21 27.845L278.755 80.7454C275.923 88.862 268.267 94.3 259.671 94.3H21.2148C6.22081 94.3 -3.55368 78.5471 3.10449 65.1125L29.3232 12.2112C32.7343 5.32911 39.7516 0.974949 47.4326 0.974854H278.126Z"
                  fill="url(#paint0_radial_16409_61398)"
                  fill-opacity="0.8"></path>
                <path
                  d="M278.126 0.974854C292.04 0.974854 301.793 14.7072 297.21 27.845L278.755 80.7454C275.923 88.862 268.267 94.3 259.671 94.3H21.2148C6.22081 94.3 -3.55368 78.5471 3.10449 65.1125L29.3232 12.2112C32.7343 5.32911 39.7516 0.974949 47.4326 0.974854H278.126Z"
                  stroke="url(#paint1_radial_16409_61398)"
                  stroke-width="1.95046"></path>
              </g>
              <defs>
                <pattern
                  id="pattern0_16409_61398"
                  patternContentUnits="objectBoundingBox"
                  width="1"
                  height="1"
                >
                  <use xlink:href="#image0_16409_61398" transform="matrix(0.00138889 0 0 0.00478801 0 -1.2955)"></use>
                </pattern>
                <radialGradient
                  id="paint0_radial_16409_61398"
                  cx="0"
                  cy="0"
                  r="1"
                  gradientUnits="userSpaceOnUse"
                  gradientTransform="translate(159.333 47.6375) scale(171.527 45.687)"
                >
                  <stop stop-color="#303030" stop-opacity="0"></stop>
                  <stop offset="1" stop-color="#303030"></stop>
                </radialGradient>
                <radialGradient
                  id="paint1_radial_16409_61398"
                  cx="0"
                  cy="0"
                  r="1"
                  gradientTransform="matrix(189.673 28.3702 -8.48455 55.0198 115.538 19.2673)"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#F2C744"></stop>
                  <stop offset="1" stop-color="#594216"></stop>
                </radialGradient>
                <image
                  id="image0_16409_61398"
                  width="720"
                  height="750"
                  preserveAspectRatio="none"
                  xlink:href={noiseBgOp.src}
                />
              </defs>
            </svg>

            <div class="absolute inset-0 top-0 left-0 flex items-center gap-x-4 px-3 py-2">
              <div class="relative">
                <svg xmlns="http://www.w3.org/2000/svg" width="102" height="78" viewBox="0 0 102 78" fill="none">
                  <path
                    d="M26.5881 9.17786L2.73197 53.27C-3.04549 63.9482 4.68656 76.9229 16.8275 76.9229H73.8289C81.2274 76.9229 87.6644 71.8584 89.4053 64.6676L100.08 20.5754C102.522 10.4896 94.881 0.777832 84.5038 0.777832H40.6836C34.7993 0.777832 29.3882 4.00248 26.5881 9.17786Z"
                    fill="white"
                    fill-opacity="0.1"
                    stroke="url(#paint0_radial_16409_61400)"
                    stroke-width="1.55556"></path>
                  <defs>
                    <radialGradient
                      id="paint0_radial_16409_61400"
                      cx="0"
                      cy="0"
                      r="1"
                      gradientTransform="matrix(-54.0556 44.7222 -35.933 -25.5367 104.657 0.540096)"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="#F2C744"></stop>
                      <stop offset="1" stop-color="white" stop-opacity="0.2"></stop>
                    </radialGradient>
                  </defs>
                </svg>

                <div class="absolute top-1/2 left-1/2 -translate-1/2">
                  <Image src={trustBadgeSSL} alt="Trust Badge SSL" width={102} height={78} />
                </div>
              </div>
              <div class="flex flex-col gap-y-1.5 font-medium">
                <div class="text-primary text-sm lg:text-base">Adam Knight</div>
                <p class="text-[10px] lg:text-xs">President & Owner, Black Knight Roofing</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Free Quote Form -->
<FreeQuoteForm />
