---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import Button from '@/components/ui/Button.astro';
import logo from '@/assets/logo.png';
import Input from './ui/Input.astro';
import SunFlow from '@/assets/sunflow.avif';

interface Props {
  services?: string[];
  class?: string;
}

const {
  services = [
    'Roof Replacement',
    'Roof Repair',
    'New Roof Installation',
    'Roof Inspection',
    'Storm Damage',
    'Gutter Installation',
    'Siding',
    'Other',
  ],
  class: className,
} = Astro.props;
---

<div
  class:list={[
    'bg-noise relative overflow-hidden [--noise-radial:radial-gradient(50%_50%_at_50%_50%,rgba(48,48,48,0.4)_0%,rgba(48,48,48,0.56)_100%)]',
    className,
  ]}
>
  <Image
    src={SunFlow}
    alt="SunFlow"
    width={SunFlow.width}
    height={SunFlow.height}
    loading="eager"
    fetchpriority="high"
    class="absolute inset-0 top-0 left-0 opacity-20"
  />

  <div class="z-10 grid min-h-[700px] grid-cols-1 lg:grid-cols-12">
    <!-- Sidebar -->
    <div
      class="relative flex flex-col items-center justify-between gap-y-4 border-r border-white/5 p-8 text-center lg:col-span-4 lg:p-12 lg:text-left"
    >
      <Image src={logo} alt="Black Knight Roofing" class="mb-4 w-48 lg:mb-12" />

      <div class="space-y-4 text-center">
        <h5 class="text-2xl">Get Your Free Roof Quote</h5>
        <p class="text-neutral-lighter max-w-xs text-sm leading-relaxed">
          Use our easy estimate form to tell us what you need and get a fast, accurate quote.
        </p>
      </div>

      <div class="border-primary mt-12 hidden border-l-2 pl-4 lg:block">
        <p class="mb-2 text-sm font-medium tracking-wider">
          <span class="text-primary"> Got Questions? </span> Call us:
        </p>
        <a
          href="tel:9708887230"
          class="hover:text-primary flex items-center gap-x-2 text-lg font-bold transition-colors"
        >
          <Icon name="phone" class="size-6" />
          (970) 888-7230
        </a>
      </div>
    </div>

    <!-- Form Area -->
    <div class="relative flex flex-col items-center lg:col-span-8 lg:items-start">
      <div class="hidden border-b border-white/15 px-8 pt-4 pb-5 lg:block">
        <h3 class="font-heading text-3xl text-white">Fill out this form to get in touch:</h3>
      </div>

      <form class="w-full space-y-8 pt-8">
        <div class="space-y-6 px-8">
          <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
            <!-- Full Name -->
            <div class="space-y-2">
              <label class="flex items-center gap-1.5 text-sm font-medium text-white/70">
                <Icon name="star-icon" class="text-primary size-3" />
                Full Name
              </label>
              <div class="border-radial rounded-lg">
                <input
                  type="text"
                  placeholder="John Doe"
                  class="h-11 w-full rounded-lg border-none bg-white/5 px-4 py-3.5 text-sm leading-5 font-normal text-white transition-colors focus:outline-none"
                />
              </div>
            </div>

            <!-- Phone -->
            <div class="space-y-2">
              <label class="flex items-center gap-1.5 text-sm font-medium text-white/70">
                <Icon name="star-icon" class="text-primary size-3" />
                Phone
              </label>
              <div class="border-radial rounded-lg">
                <input
                  type="tel"
                  placeholder="(555) 000-0000"
                  class="h-11 w-full rounded-lg border-none bg-white/5 px-4 py-3.5 text-sm leading-5 font-normal text-white transition-colors focus:outline-none"
                />
              </div>
            </div>
          </div>

          <!-- Email -->
          <div class="space-y-2">
            <label class="flex items-center gap-1.5 text-sm font-medium text-white/70">
              <Icon name="star-icon" class="text-primary size-3" />
              Email
            </label>
            <div class="border-radial rounded-lg">
              <input
                type="email"
                placeholder="john@example.com"
                class="h-11 w-full rounded-lg border-none bg-white/5 px-4 py-3.5 text-sm leading-5 font-normal text-white transition-colors focus:outline-none"
              />
            </div>
          </div>

          <div class="grid grid-cols-[150px_150px_1fr] gap-6">
            <!-- Address -->
            <div class="space-y-2">
              <label class="flex items-center gap-1.5 text-sm font-medium text-white/70">
                <Icon name="star-icon" class="text-primary size-3" />
                Address
              </label>
              <div class="border-radial rounded-lg">
                <input
                  type="text"
                  placeholder="123 Street Ave"
                  class="h-11 w-full rounded-lg border-none bg-white/5 px-4 py-3.5 text-sm leading-5 font-normal text-white transition-colors focus:outline-none"
                />
              </div>
            </div>

            <!-- Zip -->
            <div class="space-y-2">
              <label class="flex items-center gap-1.5 text-sm font-medium text-white/70">
                <Icon name="star-icon" class="text-primary size-3" />
                Zip
              </label>
              <div class="border-radial rounded-lg">
                <input
                  type="text"
                  placeholder="91740"
                  class="h-11 w-full rounded-lg border-none bg-white/5 px-4 py-3.5 text-sm leading-5 font-normal text-white transition-colors focus:outline-none"
                />
              </div>
            </div>

            <!-- Service Needed -->
            <div class="space-y-2">
              <label class="flex items-center gap-1.5 text-sm font-medium text-white/70">
                <Icon name="star-icon" class="text-primary size-3" />
                Service Needed
              </label>
              <div class="border-radial relative rounded-lg">
                <select
                  class="h-11 w-full appearance-none rounded-lg border-none bg-white/5 px-4 py-2.5 text-sm leading-5 font-normal text-white transition-colors focus:outline-none"
                >
                  <option value="" disabled selected>Roof Replacement</option>
                  {services.map(s => <option value={s}>{s}</option>)}
                </select>
                <Icon
                  name="chevron-down"
                  class="pointer-events-none absolute top-1/2 right-4 size-4 -translate-y-1/2 text-white/40"
                />
              </div>
            </div>
          </div>

          <!-- Message -->
          <div class="flex flex-col space-y-2">
            <label class="text-sm font-medium text-white/70">Message</label>
            <div class="border-radial h-32 rounded-lg">
              <textarea
                rows="4"
                placeholder="Your roof is 487 sq. ft. Your roof's steepest section is 30 degrees steep."
                class="h-full w-full resize-none rounded-lg border-none bg-white/5 px-4 py-4 text-sm leading-relaxed text-white transition-colors focus:outline-none"
              ></textarea>
            </div>
          </div>
        </div>

        <!-- Opt-in -->
        <label class="flex items-start gap-4 px-8">
          <div class="relative mt-1 flex cursor-pointer items-center">
            <input type="checkbox" class="peer sr-only" checked />
            <div
              class="peer-checked:bg-primary group peer-checked:border-primary flex size-5 items-center justify-center rounded border border-white/10 bg-white/5 transition-all"
            >
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none" class="text-inverted opacity-0 transition-opacity group-peer-checked:opacity-100">
                <g clip-path="url(#clip0_16040_54024)">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M3.62178 8.91143C6.0232 6.51002 7.97249 4.56063 10.3739 2.15931C10.4145 2.11868 10.4811 2.11887 10.5215 2.15931L10.7081 2.34583L11.1114 2.7492L11.2999 2.9377C11.3403 2.97814 11.3405 3.04457 11.2999 3.0852C8.89847 5.48661 6.94918 7.436 4.54777 9.83742C4.50714 9.87795 4.4409 9.87795 4.40027 9.83742L4.21366 9.6508L3.81029 9.24743L3.62178 9.05893C3.58115 9.0183 3.58115 8.95206 3.62178 8.91143Z" fill="currentColor"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M4.4002 9.83595C1.99878 7.43453 3.10174 8.53749 0.700323 6.13607C0.659694 6.09544 0.659883 6.02892 0.700323 5.98848L0.886938 5.80196L1.29031 5.39859L1.47872 5.21009C1.51916 5.16965 1.58568 5.16946 1.62631 5.21009C4.02773 7.61151 2.92476 6.50855 5.32609 8.90996C5.36672 8.95059 5.36672 9.01683 5.32609 9.05746L5.13947 9.24407L4.7362 9.64744L4.54769 9.83595C4.50706 9.87648 4.44083 9.87648 4.4002 9.83595Z" fill="currentColor"/>
                </g>
                <defs>
                  <clipPath id="clip0_16040_54024">
                    <rect width="12" height="12" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
            </div>
          </div>
          <p class="text-[13px] leading-relaxed text-white/50">
            I agree to receive booking confirmations and arrival timeless via SMS, Messages and data rate may apply.
            Text STOP to cancel, HELP for more info. <a href="/privacy-policy" class="text-primary hover:underline"
              >Privacy Policy</a
            >
          </p>
        </label>

        <!-- Submit -->
        <div class="relative flex justify-center px-8 py-4 lg:justify-end">
          <div
            class="via-primary absolute inset-0 top-0 hidden h-px w-full bg-linear-to-r from-transparent to-transparent lg:block"
          >
          </div>
          <Button
            variant="primary"
            size="lg"
            class="bg-primary text-inverted rounded-lg px-6 py-3 text-base leading-6 font-medium"
          >
            Request FREE Quote
          </Button>
        </div>
      </form>

      <!-- Mobile -->
      <div class="border-primary mx-auto mt-12 mb-10 block border-l-2 pb-5 pl-4 lg:hidden">
        <p class="mb-2 text-sm font-medium tracking-wider">
          <span class="text-primary"> Got Questions? </span> Call us:
        </p>
        <a
          href="tel:9708887230"
          class="hover:text-primary flex items-center gap-x-2 text-lg font-bold transition-colors"
        >
          <Icon name="phone" class="size-6" />
          (970) 888-7230
        </a>
      </div>
    </div>
  </div>
</div>
