---
import { getImage, Image } from 'astro:assets';

import trustBadgeSSL from '@/assets/trust-badge-ssl.png';
import noiseBg from '@/assets/noises.avif';
import { cn } from '@/lib/utils';
import type { ImageMetadata } from 'astro';

interface Props {
  class?: string;
  title?: string;
  subtitle?: string;
  image?: ImageMetadata;
  imageAlt?: string;
}

const {
  class: className,
  title = 'Adam Knight',
  subtitle = 'President & Owner, Black Knight Roofing',
  image = trustBadgeSSL,
  imageAlt = 'Trust Badge SSL',
} = Astro.props;

const noiseBgOp = await getImage({ src: noiseBg, format: 'avif' });
---

<div class={cn('relative flex h-[92px] w-[315px] items-center gap-x-2', className)}>
  <svg width="300" height="96" viewBox="0 0 300 96" fill="none" class="h-[96px] w-[300px]">
    <foreignObject x="-14" y="-14" width="327.331" height="123.275">
      <div style="backdrop-filter:blur(7px);clip-path:url(#bgblur_0_16409_61398_clip_path);height:100%;width:100%">
      </div>
    </foreignObject><g data-figma-bg-blur-radius="14">
      <path
        d="M278.126 0.974854C292.04 0.974854 301.793 14.7072 297.21 27.845L278.755 80.7454C275.923 88.862 268.267 94.3 259.671 94.3H21.2148C6.22081 94.3 -3.55368 78.5471 3.10449 65.1125L29.3232 12.2112C32.7343 5.32911 39.7516 0.974949 47.4326 0.974854H278.126Z"
        fill="#0D0D0D"></path>
      <path
        d="M278.126 0.974854C292.04 0.974854 301.793 14.7072 297.21 27.845L278.755 80.7454C275.923 88.862 268.267 94.3 259.671 94.3H21.2148C6.22081 94.3 -3.55368 78.5471 3.10449 65.1125L29.3232 12.2112C32.7343 5.32911 39.7516 0.974949 47.4326 0.974854H278.126Z"
        fill="url(#pattern0_16409_61398)"
        fill-opacity="0.32"></path>
      <path
        d="M278.126 0.974854C292.04 0.974854 301.793 14.7072 297.21 27.845L278.755 80.7454C275.923 88.862 268.267 94.3 259.671 94.3H21.2148C6.22081 94.3 -3.55368 78.5471 3.10449 65.1125L29.3232 12.2112C32.7343 5.32911 39.7516 0.974949 47.4326 0.974854H278.126Z"
        fill="url(#paint0_radial_16409_61398)"
        fill-opacity="0.8"></path>
      <path
        d="M278.126 0.974854C292.04 0.974854 301.793 14.7072 297.21 27.845L278.755 80.7454C275.923 88.862 268.267 94.3 259.671 94.3H21.2148C6.22081 94.3 -3.55368 78.5471 3.10449 65.1125L29.3232 12.2112C32.7343 5.32911 39.7516 0.974949 47.4326 0.974854H278.126Z"
        stroke="url(#paint1_radial_16409_61398)"
        stroke-width="1.95046"></path>
    </g>
    <defs>
      <clipPath id="bgblur_0_16409_61398_clip_path" transform="translate(14 14)"
        ><path
          d="M278.126 0.974854C292.04 0.974854 301.793 14.7072 297.21 27.845L278.755 80.7454C275.923 88.862 268.267 94.3 259.671 94.3H21.2148C6.22081 94.3 -3.55368 78.5471 3.10449 65.1125L29.3232 12.2112C32.7343 5.32911 39.7516 0.974949 47.4326 0.974854H278.126Z"
        ></path>
      </clipPath><pattern id="pattern0_16409_61398" patternUnits="userSpaceOnUse" width="200" height="200">
        <image
          width="200"
          height="200"
          xlink:href={noiseBgOp.src}
        />
      </pattern>
      <radialGradient
        id="paint0_radial_16409_61398"
        cx="0"
        cy="0"
        r="1"
        gradientUnits="userSpaceOnUse"
        gradientTransform="translate(159.333 47.6375) scale(171.527 45.687)"
      >
        <stop stop-color="#303030" stop-opacity="0"></stop>
        <stop offset="1" stop-color="#303030"></stop>
      </radialGradient>
      <radialGradient
        id="paint1_radial_16409_61398"
        cx="0"
        cy="0"
        r="1"
        gradientTransform="matrix(189.673 28.3702 -8.48455 55.0198 115.538 19.2673)"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#F2C744"></stop>
        <stop offset="1" stop-color="#594216"></stop>
      </radialGradient>

    </defs>
  </svg>

  <div class="absolute inset-0 top-0 left-0 flex items-center gap-x-4 px-3 py-2">
    <div class="relative">
      <svg xmlns="http://www.w3.org/2000/svg" width="102" height="78" viewBox="0 0 102 78" fill="none">
        <path
          d="M26.5881 9.17786L2.73197 53.27C-3.04549 63.9482 4.68656 76.9229 16.8275 76.9229H73.8289C81.2274 76.9229 87.6644 71.8584 89.4053 64.6676L100.08 20.5754C102.522 10.4896 94.881 0.777832 84.5038 0.777832H40.6836C34.7993 0.777832 29.3882 4.00248 26.5881 9.17786Z"
          fill="white"
          fill-opacity="0.1"
          stroke="url(#paint0_radial_16409_61400)"
          stroke-width="1.55556"></path>
        <defs>
          <radialGradient
            id="paint0_radial_16409_61400"
            cx="0"
            cy="0"
            r="1"
            gradientTransform="matrix(-54.0556 44.7222 -35.933 -25.5367 104.657 0.540096)"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#F2C744"></stop>
            <stop offset="1" stop-color="white" stop-opacity="0.2"></stop>
          </radialGradient>
        </defs>
      </svg>

      <div class="absolute top-1/2 left-1/2 -translate-1/2">
        <Image src={image} alt={imageAlt} width={102} height={78} />
      </div>
    </div>
    <div class="flex flex-col gap-y-1.5">
      <div class="text-primary">{title}</div>
      <p class="text-xs">{subtitle}</p>
    </div>
  </div>
</div>
