---
import RatingStars from '@/components/ui/RatingStars.astro';
import { Image } from 'astro:assets';

import GoogleIcon from '@/assets/google-icon-logo.avif';

interface Props {
  name: string;
  rating: number;
  text: string;
}

const { name, rating, text } = Astro.props;

const initials = name
  .split(' ')
  .map((word) => word.charAt(0))
  .join('')
  .slice(0, 2)
  .toUpperCase();
---

<div class="border-radial rounded-2xl group">
  <div class="testimonial-bg-noise relative w-full rounded-2xl p-6">
    <div class="flex size-8 items-center justify-center rounded-full bg-white/10 text-xs font-bold text-white/50">
      {initials}
    </div>

    <div class="flex items-center gap-x-3 pt-2.5 font-medium">
      <div>{name}</div>
      <RatingStars rating={rating} />
    </div>

    <div class="pt-4 text-sm">{text}</div>

    <div class="flex w-fit items-center gap-x-1 pt-3">
      <div class="py-2.5 pr-2.5">
        <Image alt="Google Logo" width={24} height={24} loading="eager" src={GoogleIcon} />
      </div>

      <div class="bg-linear-to-r from-white/70 via-white to-white/70 bg-[length:200%_auto] bg-left bg-clip-text font-semibold text-transparent transition-all duration-[1200ms] ease-in-out group-hover:bg-right">
        Google Verified
      </div>
    </div>
  </div>
</div>
